# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
env/

# Database
db.sqlite3

**/node_modules

# Static folder
static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace